<h1>Scrape wikipedia for Toronto neighborhood data</h1>

In [2]:
#install beauitful soup and all the other packages
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /opt/conda/envs/Python36/lib/python3.6/site-packages (4.7.1)
Requirement already satisfied: soupsieve>=1.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from beautifulsoup4) (1.7.1)

In [3]:
!pip install lxml

Requirement already satisfied: lxml in /opt/conda/envs/Python36/lib/python3.6/site-packages (4.3.1)

In [7]:
import requests
from urllib.request import urlopen

In [5]:
from bs4 import BeautifulSoup

In [6]:
import numpy as np
import pandas as pd

<h2>Calling the wikipedia page</h2>
<p>All I'm doing below is trying to get the wikipedia page here for me to start playing with and sorting through.</p>

In [43]:
#make a function that will pull in the site and parse.

def getWikipediaPage(site):
    url = urlopen(site)
    soup = BeautifulSoup(url,'lxml')
    return soup

In [44]:
#Now bring in the wiki page.

wiki = getWikipediaPage('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [45]:
#I know the class of the table I need is wikitable sortable, so I'm going to pull the tr rows of that.

table = wiki.find('table', {'class': 'wikitable sortable'})
rows = table.find_all('tr')

In [46]:
#Now a loop to return all of the rows of tr into a list

data = []

for row in rows:
    cell = row.find_all('td')
    cell_clean = [cell.text.strip('\n') for cell in cell]
    data.append(cell_clean)

In [47]:
#Read it into a dataframe

df = pd.DataFrame(data)
df.head()

      0             1                 2
0  None          None              None
1   M1A  Not assigned
2   M2A  Not assigned
3   M3A    North York         Parkwoods
4   M4A    North York  Victoria Village

In [51]:
#Should probably add headers

df.columns = ['Postal_Code','Borough','Neighborhood']
df.head()

  Postal_Code       Borough      Neighborhood
0        None          None              None
1         M1A  Not assigned
2         M2A  Not assigned
3         M3A    North York         Parkwoods
4         M4A    North York  Victoria Village

In [52]:
#Drop empty rows and rows where the Borough is not assigned.

df_dropp = df.dropna()  #Used this to remove empty rows
df.head()

  Postal_Code       Borough      Neighborhood
0        None          None              None
1         M1A  Not assigned
2         M2A  Not assigned
3         M3A    North York         Parkwoods
4         M4A    North York  Victoria Village

In [53]:
df_final = df[~df['Borough'].isin(['Not assigned'])]
df_final.head()

  Postal_Code           Borough                       Neighborhood
0        None              None                               None
3         M3A        North York                          Parkwoods
4         M4A        North York                   Victoria Village
5         M5A  Downtown Toronto         Regent Park / Harbourfront
6         M6A        North York  Lawrence Manor / Lawrence Heights

In [55]:
#The final shape of the DF.

df_final.shape

(104, 3)